# Force LF line endings, needed for Docker to work on Windows
*.sh text eol=lf
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
