**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/distillpub/template.v2.js
assets/js/distillpub/transforms.v2.js
assets/js/search/*.js
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/*
# Lock files are machine-generated; don't hand-format
package-lock.json
pixi.lock
